.dashboard--container{
    height:400px;
}
.card-upper-space {
    margin-top: 35px;
}

.card-row-gap {
    margin-top: 3em;
}
a{
    color: #309464 !important;
    text-decoration: none !important;
}

.dashboard--container::-webkit-scrollbar{
    display: none;
}